@font-face {
  font-family: 'minecraft';
  src: url('Minercraftory.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0.2);
}

:root {
  --accent: mediumseagreen;
  --daccent: seagreen;
  --text: #000;
  --bg: #fff;
  --card: #f1f1f1;
  --filter: none;
  --ph: #aaa;
  --sp: #e4e4e4;
  --border: #ddd;
  --dy: #eee;
  --text2: #666;
  --bdr: #cfd8cf;
  --bdr2: #d6d6d6;
  --tr: #fff;
  --td: #f7f7f7;
  --ins: #00000010;
  --sdh: #00000010;
}

body.dark {
  --accent: teal;
/*   --daccent: #006060; */
  --daccent: #00a0a0;
  --text: #fff;
  --bg: #1f1f1f;
  --card: #2b2b2b;
  --filter: brightness(0) invert(1);
  --ph: #666;
  --sp: #444;
  --border: #333;
  --dy: #ccc;
  --text2: #ccc;
  --bdr: #3d4b4b;
  --bdr2: #666;
  --tr: #323232;
  --td: #292929;
  --ins: #00000030;
  --sdh: #ffffff1a;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  justify-content: center;
  line-height: 1.6;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: var(--accent);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 60px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

/* MENU BTN */
.menu-btn {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 11;
  -webkit-tap-highlight-color: transparent;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  transform-origin: left center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* ANIMASI GARIS → PANAH */
.menu-btn.active span:nth-child(1) {
  transform: translateY(10.5px) translateX(2px) rotate(-40deg) scaleX(0.53);
}
.menu-btn.active span:nth-child(2) {
  opacity: 1;
  transform: translateY(0.2px);
}
.menu-btn.active span:nth-child(3) {
  transform: translateY(-10.5px) translateX(2px) rotate(40deg) scaleX(0.55);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 220px;
  height: 100%;
  background-color: var(--bg);
  color: #fff;
  padding-top: 45px;
  transition: left 0.3s ease, width 0.1s linear;
  box-sizing: border-box;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  left: 0;
}

/* SEARCH BAR */
.sidebar-search {
  padding: 8px 28px;
  /*border-bottom: 3px solid rgba(255,255,255,0.15);*/
  background-color: #1f1f1f;
  margin-bottom: 4px;
}
.sidebar-search input {
  width: 40%;
  padding: 10px 8px;
  border-radius: 4px;
  outline: none;
  background: #2b2b2b;
  border: 2px solid teal;
  color: #fff;
  font-size: 14px;
  margin-left: -10px;
}
.sidebar-search input::placeholder {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding-left: 30px;
  background: url('text-search.png') no-repeat 2px center;
  background-size: 24px 24px;
  filter: invert(60%) brightness(60%);
}

/* MENU SCROLL */
.sidebar-menu {
  flex-grow: 0;
  overflow-y: auto;
  background-color: var(--bg);
  padding-bottom: 5px;
}

.sidebar-menu::-webkit-scrollbar {
  width: 0px;
}
.sidebar-menu::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 4px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 13px 22px;
  text-decoration: none;
  color: var(--text2);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.3px;
  transition: all 0.25s ease;
}

.sidebar a:hover {
  background: var(--sp);
  color: var(--text);
}

/* =====================================
   SIDEBAR OVERLAY
===================================== */

.sidebar-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  z-index: 98;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icons {
  width: 32px !important;
  height: 32px !important;
}

.sidebar-header {
  display: flex;
  align-items: flex-end;
  gap: -2px;
  padding: 8px 16px;
  background-color: #1c1c1c;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.sidebar-header img {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  object-fit: cover;
  filter: none !important;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #efffff;
  letter-spacing: 0.3px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 4px;
}

.sidebar-header:hover {
  background-color: #252525;
  transition: background-color 0.25s ease;
}

/*.sidebar a:hover {
  background-color: #2b2b2b;
  color: turquoise;
  transform: translateX(4px);
}*/

.sidebar a.active {
  background: var(--card);
  border-left: 5px solid var(--accent);
  color: var(--text);
}

.sidebar a.active img {
  margin-left: -5px !important;
}

/*.sidebar a.active {
  background: var(--accent);
  color: white;
}*/

/* a.active .icon {
  transform: scale(1.3);
  filter: invert(66%) sepia(53%) saturate(600%) hue-rotate(124deg) brightness(60%) contrast(88%);
} */

.sidebar-logo {
  width: 50px !important;
  height: 50px !important;
  border-radius: 10px;
  object-fit: cover;
}

.sidebar img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

/* .sidebar a:hover img {
  filter: invert(66%) sepia(53%) saturate(600%) hue-rotate(124deg) brightness(100%) contrast(88%);
} */

.sidebar-footer {
  text-align: center;
  padding: 6.2px;
  font-size: 14px;
  color: rgba(170,170,170,0.4);
  border-top: 2.5px solid rgba(255,255,255,0.2);
}

@media (max-width: 100%) {
  .sidebar {
    width: 200px;
  }

  .header {
    height: 46px;
    padding: 0 50px;
    padding-left: 55px;
  }
}

.home img{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  width: 32px;
  height: 32px;
  filter: invert(92%) sepia(6%) saturate(524%) hue-rotate(138deg) brightness(112%) contrast(96%);
}

.live-clock {
  position: absolute;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #dfffff;
  letter-spacing: 1px;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
}

.sidebar-top label {
  color: var(--text);
  padding: 8px;
  font-size: 20px;
  padding-left: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: -14px;
}

#btnRight {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  color: var(--text);
  margin-top: 18px;
  margin-right: 10px;
}

.btn-right {
  width: 28px !important;
  height: 28px !important;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  filter: var(--filter);
  pointer-events: none;
}

.sidebarr-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 0;
  margin-right: 12px;
}

.sidebarr-search input {
  width: 80%;
  padding: 9px 8px 9px 36px;
  border-radius: 4px;
  outline: none;
  background: var(--card);
  border: 2.5px solid var(--accent);
  color: var(--text);
  font-size: 14px;
}

.sidebarr-search input::placeholder {
  color: var(--ph);
  font-weight: bold;
  font-size: 14px;
  padding-left: 1px;
  pointer-events: none;
}

.search-barr {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.btns {
  display: flex;
  position: fixed;
  right: 6px;
  gap: 6px;
}

.btns button {
  display: flex;
  background: #00000016;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  border: none;
  width: 38px;
  height: 38px;
  padding: 2px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.btn24 {
  cursor: pointer;
  transition:transform 0.4s ease;
}

.btn24:active {
  transform: scale(1.2);
}

.menu-toggle {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background: #0000001a;
}

/* 4 garis */
.line {
  position: absolute;
  left: 50%;
  
  box-sizing: border-box;
  width: 24px !important;
  height: 2.5px !important;

  transform: translateX(-50%);

  background: #fff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0;
  pointer-events: none;
  cursor: pointer;

  transition:
    top .45s cubic-bezier(.2,.8,.2,1),
    width .45s cubic-bezier(.2,.8,.2,1),
    height .45s cubic-bezier(.2,.8,.2,1),
    border-radius .35s ease,
    background .25s ease,
    font-size .2s ease;
    background: .3s ease;
}

.nav-icon {
  width: 0;
  height: 0;
  color: #00000000;
  transition: all 0.3s ease;
}

.menu-toggle.open .nav-icon {
  width: 24px;
  height: 24px;
  color: white;
}

.line .nav-icon {
  color: var(--text) !important;
}

/* Posisi awal */
.line-a {
  top: 8.7px;
  height: 2.2px !important;
}

.line-b {
  top: 14.5px;
  height: 2.3px !important;
}

.line-c {
  top: 20.5px;
  height: 2.4px !important;
}

.line-d {
  top: 26.5px;
  height: 2px !important;
}


/* =========================
   MENU TERBUKA
========================= */

.menu-toggle.open .line {
  width: 38px !important;
  height: 38px !important;
  border: 2px solid var(--bdr2);
  background: var(--card);
  border-radius: 4px;
  pointer-events: auto;

  font-size: 16px;
}


/* Posisi masing-masing tombol */

.menu-toggle.open .line-a {
  top: 50px;
}

.menu-toggle.open .line-b {
  top: 92px;
}

.menu-toggle.open .line-c {
  top: 134px;
}

.menu-toggle.open .line-d {
  top: 176px;
}

.sidebar.right {
  width: 100%;
  max-width: 600px;
}

.sidebar.right .sidebar-menu {
  display: grid;
  gap: 12px;
  row-gap: 10px;
  padding: 12px;
  padding-right: 12px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.sidebar.right a {
  display: flex;
  flex-direction: column;
  height: 60px;
  background: var(--card);
  border-radius: 8px;
  padding: 12px 4px;
  text-align: center;
  cursor: pointer;
  color: var(--text2);
  font-size: 10px;
}

.sidebar.right a img {
  width: 36px !important;
  height: 36px !important;
  flex-shrink: 0;
}

.sidebar.right a span {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.sidebar.right a img {
  margin-top: 4px;
  margin-bottom: -6px;
}

.sidebar.right .sidebarr-search input {
  width: 94%;
  margin-left: -8px !important;
  transition: none;
}

.sidebar.right .search-icon {
  left: 2px;
  transition: none;
}

.sidebar.right a.active {
  border: 2.5px solid var(--accent);
  color: var(--text);
}